#@brief   A .gitignore file for my congenial-chainsaw-rmfb-html
#@file    .gitignore
#@author  David BLACK  GH: @bballdave025
#@since   2025-01-23
#
#  -v- In case this file gets copied to another repo without changing -v-
#+ -v- this stuff, there will be a reference to the previous repo     -v-
#@orig_repo  congenial-chainsaw-rmfb-html
#@project    Reused Manuscript Fragments in Bindings for 2025
#@package    None for now.


# Specific directories
#**/__pycache__/
#__pycache__/

**/.ipynb_checkpoints/
#.ipynb_checkpoints/

# # Don't know what will be done with CSVs, yet
# *.csv

# None of those backup files
*~

# None of those Windows Office (at least MS Word) backup files
$~*
~$*

#*.info

## LET THESE IN!!!
!img/
!code_screenshots_and_text_snippets/

